* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(48, 48, 54);
}
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
}
.card {
  height: 80px;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}
.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}
.card > .row > .icon {
  background-color: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.card > .row > .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translatey(30px);
  transition-delay: 0.3s;
  transition: all 0.9s ease;
}
.description p {
  color: #b0b0ba;
  padding-top: 5px;
}
.description h4 {
  text-transform: uppercase;
}
input {
  display: none;
}
input:checked + label {
  height: 300px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translatex(0) !important;
}
.card[for="c1"] {
  background-image: url(./images/1.jpg);
}
.card[for="c2"] {
  background-image: url(./images/2.jpg);
}
.card[for="c3"] {
  background-image: url(./images/3.jpg);
}
.card[for="c4"] {
  background-image: url(./images/4.jpg);
}

@media (min-width: 576px) {
  .container {
    width: 450px;
  }
}
@media (min-width: 992px) {
  .container {
    height: 400px;
    width: 820px;
    display: flex;
    flex-direction: row;
  }
  .card {
    width: 80px;
    height: 400px;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
  }
  input:checked + label {
    width: 500px;
    height: 400px;
  }
}
